body 
{
 background-color: #FFF8F7;
}
#explogo{
 height :40px;
 width: 150px;
}
.space{
    color : rgb(0, 0, 0);
    margin-left : 20%; 
}
table, td, th 
{
 border: 1px solid rgb(17, 16, 16);
 color: rgb(14, 13, 13);
}
td{
  font-size: 18px;  
}

table 
{
 width: 50%;
 border-collapse: collapse;
 margin-left : 400px; 
 background-color: rgb(255, 255, 255);
}
.space{
    color : rgb(0, 0, 0);
    margin-left : 20%; 
    font-size :medium;
    text-decoration: none;
   }